body {
  font-family: Arial, Helvetica, Roboto, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  color: #050a0e;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  line-height: 0;
  padding-left: 1rem;
}

.info {
  font-size: small;
  font-style: italic;
  color: grey;
  line-height: 0;
  padding-bottom: 0.5rem;
}
h1 {
  color: #050a0e;
  font-size: 2.5rem;
  font-weight: 900;
  /* top | right | bottom | left */
  text-align: center;
}
h3 {
  padding-left: 1rem;
  font-weight: 900;
}
.yellow-back {
  position: relative;
  height: 15%;
  width: 150vw;
  background-color: #fcee09;
  transform: rotate(-5deg);
  padding: 0;
  margin: -15vh -25% 10vh -25%;
  border-bottom: solid 0.5rem #00f0ff;
  border-top: solid 10rem #ff003c;
}

a {
  color: #ff003c;
}
a:visited {
  color: #270a4a;
}
