body {
  font-family: Lato, Arial, Helvetica, Roboto, sans-serif;
  /* background-color: #fafafa;*/
  background-color: #050505;
  margin: 0;
  padding: 0;
  color: #f9f9f9;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-size: medium;
  line-height: 0;
  padding-left: 1rem;
}

.info {
  font-size: small;
  font-style: italic;
  color: #dddddd;
  line-height: 0;
  padding-bottom: 0.5rem;
}

h1 {
  /* color: #050a0e; */
  font-size: 1.66rem;
  font-weight: 900;
  /* top | right | bottom | left */
  text-align: left;
  padding-left: 1rem;
}

h2 {
  font-size: 1.33rem;
  padding-left: 1rem;
  font-weight: 900;
}

/*.header {
  position: relative;
  height: 15%;
  width: 150vw;
  background-color: #fcee09;
  transform: rotate(-5deg);
  padding: 0;
  margin: -15vh -25% 10vh -25%;
  border-bottom: solid 0.5rem #00f0ff;
  border-top: solid 10rem #ff003c;
} */

a {
  color: #55aaff;
}

a:visited {
  color: #ffaa55;
}
