/* top | right | bottom | left */
body {
  font-family: Arial, Helvetica, Roboto, sans-serif;
  /* background-color: #fafafa;*/
  background-color: #050505;
  margin: 0;
  padding: 0;
  color: #f9f9f9;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  margin: 0;
  font-size: medium;
  line-height: 1rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.info {
  margin: 0;
  font-size: small;
  font-style: italic;
  color: #dddddd;
  line-height: 1;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
}

h1 {
  margin: 0;
  font-size: 1.66rem;
  font-weight: 900;
  text-align: left;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

h2 {
  margin: 0;
  font-size: 1.33rem;
  font-weight: 900;
  padding: 0 0.5rem 0 0.5rem;
}

h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 0.5rem 0.5rem 0.5rem;
  color: #dddddd;
}

/*.header {
  position: relative;
  height: 15%;
  width: 150vw;
  background-color: #fcee09;
  transform: rotate(-5deg);
  padding: 0;
  margin: -15vh -25% 10vh -25%;
  border-bottom: solid 0.5rem #00f0ff;
  border-top: solid 10rem #ff003c;
} */

a {
  color: #66bbff;
}

a:visited {
  color: #ffbb66;
}

hr {
  border: none;
  border-top: 3px double #dddddd;
}
